@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color:#fff;
}

#mainSec {
    background: 
    linear-gradient(#00000065, #00000065),
    linear-gradient(#00000065, #00000065),
    url(bgImg.jpg);
    min-height: 100vh;
    min-width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

h1 {
    font-size: 4rem;
    margin-top: -10rem;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}
h2 {
    font-size: 2rem;
    margin-top: 1rem;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

.count_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.bigText {
    box-shadow: 0px 0px 23px 6px #000;
    border-radius: 20px;
    background: transparent;
    font-size: 6rem;
    margin-top: 5rem;
    font-weight: bold;
    line-height: 1;
    padding: 20px;
    margin: 1rem 1rem;
    font-family: 'Poppins', sans-serif;
}

.countElement {
    text-align: center;
}

.samllText {
    font-size: 4rem;
    font-family: 'Poppins', sans-serif;
}